#my-app{
   position: fixed;
   right: 76px;
   bottom: 26px;
   width: 400px;
   height: 732px;
   background-color: rgb(30, 30, 30);
   box-shadow: rgb(0 0 0) 0px 0px 94px -7px;
   /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%); */
   border-radius: 20px;
   flex-direction: column;
   align-items: center;
   z-index: 999;
   transition: 0.5s;

}